.filter {
  list-style: none;
  display: flex;
  margin: 1em 0;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: var(--bs);
  border-radius: 5px;
}
.filter li {
  text-align: center;
  flex: 1;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
}
.filter a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1em;
}
.active {
  background: hsl(207, 90%, 77%);
}
